/* Close button */
div.commerce-add-to-cart-confirmation .commerce-add-to-cart-confirmation-close {
  right: 0; /* LTR */
  left: 15px;
}
/* Title */
div.commerce-add-to-cart-confirmation .added-product-title {
  float: right;
}
/* Button */
div.commerce-add-to-cart-confirmation .button-wrapper {
  right: auto;
  left: 0;
}
/* Product display */
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .content .field-name-field-images {
  right: -115px;
  left: 0;
}
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .commerce-product-sku .commerce-product-sku-label,
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .views-label,
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .field-label {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field {
  text-align: right;
}
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .field-label {
  float: right;
}
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .views-label {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}
div.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
  float: none;
}
